*
!README.md
!.gitignore

#!/aanotes.txt

!/shared/
!/shared/include/
!/shared/include/aa/
#!/shared/include/aa/BitBuf.hpp
#!/shared/include/aa/CtrlAltDelete.h
#!/shared/include/aa/MapNtdll.h
#!/shared/include/aa/ModifiedDEFLATE.hpp
#!/shared/include/aa/ProcessDoppelganging_NtfsTransaction.h
!/shared/include/aa/AA_String.h
!/shared/include/aa/ArchChecks.h
!/shared/include/aa/base_processhacker.h
!/shared/include/aa/EnableDebugPrivilege.h
!/shared/include/aa/FindProcess.h
!/shared/include/aa/FreeLibraryBlocker.h
!/shared/include/aa/GetCurrentExe.h
!/shared/include/aa/GetPEB.h
!/shared/include/aa/InjectDLL_Generic.h
!/shared/include/aa/manual_GetModuleHandle.h
!/shared/include/aa/manual_GetProcAddres.h
!/shared/include/aa/StringConversions.h
!/shared/include/aa/StringConversionsStd.hpp
!/shared/include/aa/UNICODE_STRING_utils.h

!/driver_antinotepad/
!/driver_antinotepad/driver_antinotepad/
!/driver_antinotepad/driver_antinotepad.sln
!/driver_antinotepad/driver_antinotepad/driver_antinotepad.inf
!/driver_antinotepad/driver_antinotepad/driver_antinotepad.vcxproj
!/driver_antinotepad/driver_antinotepad/driver_antinotepad.vcxproj.filters
!/driver_antinotepad/driver_antinotepad/driver_antinotepad.vcxproj.user
!/driver_antinotepad/driver_antinotepad/DriverEntry.cpp




